* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto","Helvetice", sans-serif;
    background: white;
}

body::-webkit-scrollbar {
    width: 0px;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.top-header {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 15px;
}
.logo {
    cursor: pointer;
    margin-top: 10px;
}
.car-icon,.building-icon {
    display: flex;
    cursor: pointer;
}
.svg-div {
    padding: 5px;
    margin: 2px 5px 0 0;
    border-radius: 50px;
    background-color: rgb(220, 226, 227);
}
.logo-txt {
    font-size: 1.2rem;
    padding-top: 12px;
    font-weight: bold;
}
.car-icon:hover .svg-div,
.building-icon:hover .svg-div {
    fill:rgb(59, 121, 255);
    background-color: rgb(235, 241, 255);
}
.car-icon:hover,
.building-icon:hover {
    color: rgb(59, 121, 255);
}

.bottom-header {
    /* border: 2px solid black; */
    display: flex;
    justify-content: start;
    column-gap: 10px;
    height: 50px;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
   
}
.first-div,
.second-div {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.469);
    height: 100%;
    align-items: center;
    column-gap: 6px;
    border-radius: 6px;
    padding: 0px 10px;
    width: 30%;
}
.first-div:focus-within,
.second-div:focus-within {
    border: 1px solid rgba(0, 255, 255, 0.573);
}
.location-input {
    height: 100%; 
}
.location-input input,
.search-input input{
    width: 100%;
    padding: 13px 15px;
    border: none;
    font-size: 1rem;
}
.location-input input:focus,
.search-input input:focus {
    border: none;
    outline: none;
}
.location-drop-down {
    cursor: pointer;
}
.drop-down-list {
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 6px 6px 0 rgba(0, 0, 0, .24);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    position: absolute;
    top: 128px;
    left: 128px;
    background-color: #fff;
    z-index: 10;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.9rem;
}
#check:checked ~ .drop-down-list {
    display: block;
}
#check {
    display: none;
}
#check:checked ~ .drop-down-list {
    display: block;
}
.drop-down-list {
    display: none;
}
.under-location,
.under-location2,
.under-location-label {
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
    gap: 4px;
}
.under-location:hover,
.under-location2:hover:hover {
    background-color: #c7f8f5
}
.first-txt {
    color: #3a77ff;
}
.under-location-label {
    font-size: 12px;
    color: #6d6c6c9a;
    padding: 10px;
    cursor: none;
}
.second-div {
    padding: 0;
    width: 50%;
}
.search-input {
    height: 100%;
    flex: 2;
}
.search {
    flex: 0;
    background: #000;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.login-txt h2 {
    font-weight: bold;
    text-decoration: underline;
    /* padding-bottom: 5px; */
    margin: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.third-div {
    /* border: 2px solid red; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 20%;
    column-gap: 10px;
    margin-left: 4px;
    cursor: pointer;
}
.third-div .login {
    /* border: 2px solid red; */
    width: 30%;
}

.third-div .login a {
    font-size: 16px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
/* .third-div a {
    border: 2px solid red;
    width: 20%;
    
} */
.third-div > .border-img {
    /* border: 2px solid red; */
    width: 70%;
    height: 100%;
    background: url(../Images/sell-svg.svg) no-repeat;
    background-size: cover;
    position: relative;
}

.border-img > .border-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 60%;
    margin: 0 auto;
}
/* 
.border-img-text > svg {
    padding-top: 6px;
}

.border-img-text > span {
    display: inline-block;
    position: relative;
    bottom: 2px;
    font-size: 16px;
} */

.third-div .sell {
    height: 100%;
    position: relative;
    width: 60%;
    background: url(../Images/sell-svg.svg) no-repeat;
    background-size: cover;
    /* border: 2px solid red; */
}

.sell-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}
.sell-txt {
    font-weight: bold;
    font-size: 1rem;
}